.banner {
color: rgb(255, 255, 255);
background-image:url(../images/Screen\ Shot\ 2022-03-18\ at\ 10.45.26\ AM.png);
background-position: bottom;
height: 200px;
background-size: cover;
padding:0px;
width: 1000px;
margin: auto;
position: relative;
}

/*
@media screen and (max-width: 800px){ html,body {min-width:800px} }
*/
.content > p {
    font-size:larger;
    width: auto;
}

.name {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size:3vmin 6vmax;
    font-weight: lighter;
    font-family: sans-serif;
}

li > a {
    color: white;
}

#planes, #applications, #drones {
    width: 200px;
}

body{
    background-color:rgba(0, 0, 0, 0.913);
    color: white;
    font-family: sans-serif;
    margin: auto;
}
.wrapper {
    display: flex;
    align-items: flex-start;
    width: 1000px;
    margin: auto;
  }
.sidebar {
position: sticky;
top: 5%;
border-right-style:solid;
border-right-width: 3px;
border-right-color:rgb(94, 92, 92);
padding-top: 20px;
font-style: italic;
font: #ffffff;
width: 20%;
margin-left: auto;
}

/*Main content */
.content {
    width: 80%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;

}

li > button {
    color: white;
    background-color: rgba(0,0,0,.000001);
    border: none;
    padding: 5px;
    width: fit-content;
    margin: auto;
}


.btn {
    background-color: rgba(23, 22, 22, 0.783);
    color:  white;
    border: none;
    width: 770px;
    text-align: left;
    padding-left: 20px;
    font-size: larger;

}
.card {
    align-items: center;
    width:100%;
    margin: auto;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-size: contain;
    background-color: rgba(23, 22, 22, 0.783);
}

.card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    text-align: left;
    column-gap: 100px;
}

.card-title {
    padding-top: 10px;;
}


.results {
    text-align: left;
    font-style: italic;

}

.carousel-item {
    width: auto;
    background-color: rgba(28, 27, 27, 0.783);
    background-size: cover;
    height: 300px;
    transition-delay: 100ms;
}

.carousel-inner > .carousel-item {
    backface-visibility: hidden;
    perspective: 500px;
    transition: opacity 0.00000001s ease-in-out 0s;
}

.collapse {
    background-color: rgba(28, 27, 27, 0.783);
}
