.banner {
color: rgb(255, 255, 255);
background-image:url(../images/Screen\ Shot\ 2022-03-18\ at\ 10.45.26\ AM.png);
background-position: bottom;
height: 200px;
background-size: cover;
padding:0px;
width: 1000px;
margin: auto;
position: relative;
}

.name {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size:3vmin 6vmax;
    font-weight: lighter;
    font-family: sans-serif;
}


li > a {
    color: white;
}

#planes, #applications, #drones {
    width: 770px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: rgba(19, 135, 181,.3);
}

body{
    background-color:rgba(0, 0, 0, 0.913);
    color: white;
    font-family: sans-serif;
    margin: auto;
}

/* Main Div Wrapper */
.wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 1000px;
    margin: auto;
    }

/* Sidebar content begins */
.sidebar {
    position: sticky;
    top: 5%;
    border-right-style:solid;
    border-right-width: 3px;
    border-right-color:rgb(94, 92, 92);
    padding-top: 20px;
    font-style: italic;
    font: #ffffff;
    width: 20%;
    margin-left: auto;
    order: 1;
}

.links {
    padding-top: 50px;
    padding-left: 40px;
    text-align: left;
}

.links > a {
    color: rgb(174, 170, 170);
}

/*Main content */
.content {
    width: 80%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;
    order: 2;
}

.content > p {
    font-size:larger;
    width: auto;
    padding-left: 40px;

}

/* Buttons and cards */
.btn {
    background-color: rgba(23, 22, 22, 0.783);
    color:  white;
    border: none;
    width: 770px;
    text-align: left;
    font-size: larger;
    padding-left: 0px;
}

.btn:hover, .btn:active {
    background-color: rgba(0,0,0,0);
    border: none;
}

li > button {
    color: white;
    background-color: rgba(0,0,0,.000001);
    border: none;
    margin: auto;
}

.card {
    align-items: center;
    width:100%;
    margin: auto;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-size: contain;
    background-color: rgba(23, 22, 22, 0.783);
}

.card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    text-align: left;
    column-gap: 100px;
}

.results {
    text-align: left;
    font-style: italic;
    width: 770px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: rgba(255, 255, 255, 0.9);
}

/* Animations and slideshows */
.carousel-item {
    width: auto;
    background-color: rgba(28, 27, 27, 0.783);
    height: 300px;
    background-side: contain;
    transition-delay: 100ms;
}

.carousel-inner > .carousel-item {
    backface-visibility: hidden;
    perspective: 500px;
    transition: opacity 0.00000001s ease-in-out 0s;
}

.collapse {
    background-color: rgba(28, 27, 27, 0.783);
}
